body{
<<<<<<< HEAD
    background-color: turquoise;
=======
    background-color: yellow;
>>>>>>> hakeem
}

h1{
    color: #fff;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    
}